
.texto-header{

    a{
        color: #ffffff;
    }

}

.historia{

   img{ padding-left: 40%;}

}


.jugadores{

    p{

        font-size: 5px;

    }

}
footer{

    margin-top: 98px;


.footer-texto{

    p{
        display: inline;
        padding-left: 50px;
    }

}
}

.titulos-texto{

    padding-top: 30px;
    padding-bottom: 30px;

}

h1{

color: blue;

}


.partidos{

        padding-top: 2rem;    

}

.canciones{
    margin-top: 4rem;
}