/*     ul {
        list-style-type: none;
    }
footer {

    background-color: rgb(3, 127, 199);
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    display: flex;
    
}

h1{
    align-items: center;
}

h2{
    align-items: center;
}


body {
    position: relative;
   
}

a{
    color: white;
font-size: 20px;
}

.boxes{

    background-color: rgb(3, 127, 199);

}

.box-header {

    display: inline;
    padding: 50;
}

#home{
    padding-left: 300px;
}



.box-quilmes-campeon{
    display: inline;
}

.box-quilmes-campeon-imagen{
    display: inline;
    width: 50%;
    height: 79%;
 }

 .box-quilmes-campeon-texto{
    display: inline;
    padding-bottom: 50%;
 }

.body-block{
    display: block;
}

.box-titulo{
    color: black ;
    font-style: italic;
    font-size: 35px;
    text-align: center;
}


.box-historia-quilmes-campeon{
    display: block;
}

.box-historia-quilmes-campeon-titulo{
    padding-left: 550px;
}


.box-historia-clasificacion-libertadores{
    display: block;
}


.blox-historia-titulo-clasificacion-libertadores{
    padding-left: 550px;
}


.box-arqueros{
    padding-left: 550px;
    font-size: 50;



}


.box-defensa{

   
    font-size: 50;

}

.box-mediocampo{
    padding-left: 550px;
    font-size: 50;
}

.box-jugadores-imagen{

    height:15em ;
    width: 13.5em;
    display: flex;

}

.box-imagenes-jugadores{


    padding: 50;


}


.box-jugadores-texto{
    font-size: 20px;
}

.box-jugadores-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
}

.box-jugadores-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
}

.box-jugadores-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
}

.box-jugadores-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px; 
}










.box-ultimo-partido{

margin-left: 25%;    
margin-right:25% ;
background-color:  rgb(10, 208, 243);
text-align: center;
}


.box-partidos{

    background-color: rgb(10, 208, 243); ;
}

.box-canciones{

    padding-left: 30px;
    padding-bottom: 30px;
}


.box-table-canciones{

    border-style:solid ;
    border-width: 5px;
    border-color: black;
    border-collapse: collapse;
}

td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */